DJANGO_SECRET_KEY=change-me-with-a-long-random-secret-key-at-least-32-characters
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
POSTGRES_DB=heavenection_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60
EMAIL_HOST=smtp.yourmailserver.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_TIMEOUT=20
DEFAULT_FROM_EMAIL=
PAYROLL_NOTIFY_EMAILS=true
