DJANGO_SECRET_KEY=change-me-with-a-long-random-secret-key-at-least-32-characters
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=api.heavenection.com,admin.heavenection.com,heavenection-production.up.railway.app,heavenection.com,www.heavenection.com,healthcheck.railway.app
DJANGO_CSRF_TRUSTED_ORIGINS=https://api.heavenection.com,https://admin.heavenection.com,https://heavenection-production.up.railway.app,https://heavenection.com,https://www.heavenection.com
DJANGO_MEDIA_ROOT=/data/media
DJANGO_SESSION_COOKIE_SECURE=true
DJANGO_CSRF_COOKIE_SECURE=true
DJANGO_SECURE_SSL_REDIRECT=false
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=true
DJANGO_SECURE_HSTS_PRELOAD=false
DATABASE_URL=
POSTGRES_DB=heavenection_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60
POSTGRES_SSLMODE=require
BOOTSTRAP_ADMIN_NAME=HEAVENECTION Admin
BOOTSTRAP_ADMIN_PHONE=
BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_PASSWORD=
EMAIL_HOST=smtp.yourmailserver.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_TIMEOUT=20
DEFAULT_FROM_EMAIL=
PAYROLL_NOTIFY_EMAILS=true
